@model AgileGame.Models.Card

<div class="modal fade" role="dialog"  aria-hidden="true" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered" role="document" >
            <div class="modal-content">
                <div class="modal-header">
                <h2 class="modal-title">Tarjeta Nro @Model.Id</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p><b>Titulo:</b> @Model.Titulo</p>
                    <p><b>Descripción:</b> @Model.Descripcion</p>
                    <p><b>Valor $</b> @Model.Valor</p>
                    <p><b>Esfuerzo hs:</b> @Model.Horas</p>
                    <p><b>Restante hs:</b> @Model.Restantes</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    
                </div>
            </div>
 
    </div>

</div>