@page
@model BoardModel

@{
    ViewData["Title"] = "Tablero";
    
}

@section Scripts{
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>"
}

<script>

    jQuery(document).ready( 
    jQuery(function () {
        jQuery(".draggable").draggable({
            revert: "invalid"
        });

        $(".card").dblclick(function () {
            console.log("CardId: "+ $(this).attr("titulo"));
            var placeholderElement = $('#modal-placeholder');

            $.get("/Board/Board?handler=CardDetail&tableroId="+ @Model.Id +"&id="+$(this).attr("id")).done(function (data) 
            {
                console.log(data);
                placeholderElement.html(data);
                placeholderElement.find('.modal').modal('show');
        })});
           
        

        $('.column').droppable({
            accept: '.draggable',
            drop: function (event, ui) {
                var dropped = ui.draggable;
                var droppedOn = $(this);
                
                $(dropped).detach().css({ top: 0, left: 0 }).appendTo(droppedOn);
                    console.log(dropped[0].id, droppedOn[0].id);
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        url: "/api/Tarjeta/movertarjeta",
                        beforeSend: function (request) {
                            request.setRequestHeader("RequestVerificationToken", $('#RequestVerificationToken').val());
                        },
                        data: JSON.stringify({ cardId: parseInt( dropped[0].id), columnaId: parseInt(droppedOn[0].id) }),
                });
                
            }
        });
        

         
    }));
</script>


<div class="container">
    <div class="row">
        <h3 >Tablero: @Model.Id - @Model.Nombre    </h3>
    </div>

    <div class="row" >
        <div class="col s10">
            <a asp-page="/Board/Card/AddCard" asp-route-id=@Model.Id asp-route-name=@Model.Nombre class="wave-effect waves-light btn">
                Agregar Tarjeta
            </a>
        </div>


        
    </div>
        <div id="modal-placeholder">
        
        </div>
    <div class="row">
        @foreach (var column in Model.Columnas)
        {
            <div class="col m4">
                <h3 style="text-align:center">@column.Title (@column.Limite) </h3> 
                <hr/>

                <div class="column" style="min-height: 600px" id="@column.Id">
                    
                    @foreach (var card in column.Cards)
                    {
                        <div class="card draggable blue-grey darken-1 " id="@card.Id" titulo="@card.Titulo">
                            <div class="card-content white-text">
                                <p>@card.Titulo</p>
                               
                                
                                    <div class="col m12"> € @card.Valor</div>
                                    <div class="col m12"> Hs:  @card.Restantes / @card.Horas</div>
                                
                            </div> 

                        </div>
                    }
                </div>
            </div>
        }
        
    </div>
</div>